.navbar, .form-btn {
    background: #28A75F;
}

.form-btn {
    width: 100%;
    color: #FFFFFF;
}

.form-btn:hover {
    background:#39B770;
    color: #FFFFFF;
}

.form-btn:active {
    background: #1F6C41;
    color: #FFFFFF;
}

main {
    margin-top: 50px;
}

.panel {
    margin-top: 1em;
}

#citationOutput {
    display: none;
}

#citationOutput > div.panel-body {
    font-style: italic;
}

#citationOutput > div.panel-body.error {
    color: #FF2222;
}
